---
layout: page
---

<div class="row">
{%- if site.posts.size > 0 -%}
<div class="col-sm-9 col-xs-12">
<ul class="posts">
	{%- for post in site.posts -%}
	<li>
		{% include post_preview.html %}
	</li>
	{%- endfor -%}
</ul>
</div>
<div class="col-md-3 d-none d-sm-block sidebar">
	<div class="sidebar-item">
	<h6>Me</h6>

	<p><strong>Name:</strong> Addison Lynch</p>
	<p><strong>Location:</strong> Pittsburgh, PA, United States</p>
	<p><a href="https://addisonlynch.com" target="_blank">Website</a> | <a href="https://addisonlynch.com/work" target="_blank">Portfolio</a></p>
	</div>
	<div class="sidebar-item">
		<h6>Categories</h6>
		<ul class="post-categories">
		{%- for category in site.categories -%}
		<a href="/category/{{ category[0]}}"><li class="post-category">{{ category[0] }}</li></a>
		{%- endfor -%}
		</ul>
	</div>
</div>
{%- endif -%}
</div>
